<!DOCTYPE html>
<html>
<head>
  <title>Address Form</title>
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div {
      margin-bottom: 10px;
    }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="app.controller.js/geolocation.controller.js"></script>
  <script src="app.service.js/geolocation.service.js"></script>
  <script src="app.component.js"></script>
</head>
<body ng-app="GEOLOCATOR" ng-controller="geoController">
  <form>
    <div>
      <label for="country">Country:</label>
      <input type="text" id="country" name="country">
    </div>
    <div>
      <label for="city">City:</label>
      <input type="text" id="city" name="city">
    </div>
    <div>
      <label for="street">Street:</label>
      <input type="text" id="street" name="street">
    </div>
    <div>
      <label for="postalCode">Postal Code:</label>
      <input type="text" id="postalCode" name="postalCode">
    </div>
    <button type="button" ng-click="getGeoLocation()">Post Geolocation</button>
    <label>{{ geolocationResults }}</label>
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email">
      <button type="button" ng-click="sendEmail()">Get Geolocation</button>
    <label>{{ emailSentSuccessfullyMessage }}</label>
    </div>
  </form>
</body>
</html>